@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter"; 

@layer base {
  body {
    font-family: "Inter", sans-serif; /* Apply Inter to the entire app */

  }
}

/* Additional styles for spinner */
.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
  font-family: "Inter", sans-serif; /* Apply Inter to the entire app */
  background-color: #F5E6EB;
}